@media screen and (max-width:1200px){
    .autoship-subscription-container table{
        white-space: nowrap;
        display: block;
        overflow-x: auto;
    }
    .autoship-subscribes-container table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
@media screen and (max-width:990px) {
    .header .sidebar-toggle {
        display: flex;

    }

    .main-content {
        width: 100%;
    }

    .sidebar-toggler-with-heading {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    button.sidebar-toggle {
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .sidebar {
        transform: translateX(-100%);
        position: absolute;
        height: 100vh;
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.active {
        transform: translateX(0);
        z-index: 99;
    }

    .table-container {
        white-space: nowrap;
        overflow: scroll;
    }
    .main-layout-contiainer.autoship-subscription-container
    ,.main-layout-contiainer.autoship-subscribes-container{
        max-width: 90vw;
    }
    .autoship-subscription-container .search-options ,.autoship-subscription-container .filter-bar,
    .autoship-subscribes-container .search-options,.autoship-subscribes-container .filter-bar{
        flex-wrap: wrap;
        justify-content: center;
    }
    .autoship-subscription-container table,
    .autoship-subscribes-container table{
        /* white-space: ; */
         min-width: unset;
    }
    .edit-autoship-subscription-container .container{
        max-width: 90vw;
    }
    .shop-name-and-status-container{
        max-width: 50vw;
    }
}

@media screen and (max-width:768px) {
    .create-new-autoship-container {
        flex-wrap: wrap;
    }

    .left-section {
        width: 100%;
        max-width: 100%;
    }
    .shop-name-and-status-container{
        max-width: 90vw;
    }
    .main-content.ddr-dashboard .header {
        flex-wrap: wrap;
        gap: 10px;
        text-align: center;
    }
    .upload-and-generate-buttons{
        margin: 0 auto;
    }
    .ddr-dashboard .main-layout-contiainer{
        margin-bottom: 0;
        padding-bottom: 42px;
        max-height: 75vh;
    }
    .ddr-dashboard-container{
        margin: 24px;
    }
}

@media screen and (max-width:576px) {
    .selected-products {
        overflow-x: scroll;
    }

    .selected-items {
        padding: 0px;
        overflow: scroll;
        width: max-content;
    }
}

/* autoship subscription */